<div class="wrapper">
  <input type="text" placeholder="Enter post title" [(ngModel)]="postTitle" />

  <button (click)="addPost()">
    {{ isEditingMode ? "Update" : "Add Post" }}
  </button>
</div>

<div class="wrapper">
  <!-- <button (click)="togglePost()">
    {{ showPost ? "Hide Posts" : "Show Posts" }}
  </button> -->

  <input type="text" (input)="onSearch($event)" placeholder="Search posts" />
</div>
<ng-container *ngIf="showPost">
  <div class="card wrapper" *ngFor="let post of filteredPosts">
    <p>{{ post.title }}</p>
    <div class="btn-group">
      <button (click)="editPost(post)">Edit</button>
      <button (click)="deletePost(post.id)">Delete</button>
    </div>
  </div>
</ng-container>
