<div class="wrapper">
  <div>
    <button
      (click)="toggleUsers()"
      [ngClass]="showUsers ? 'active-color' : 'remove-active-color'"
    >
      {{ showUsers ? "Hide Users" : "Show Users" }}
    </button>
  </div>

  <div>
    <input type="text" (input)="onSearch($event)" placeholder="search user" />
  </div>
</div>

<ng-container *ngIf="showUsers">
  <p *ngFor="let user of filteredUsers">{{ user.name }}</p>
</ng-container>

<div>
  <app-base-button
    class="bg-color"
    [label]="'Save Settings'"
    (buttonClick)="saveSetting()"
  ></app-base-button>
</div>
