<app-users></app-users>
<app-posts></app-posts>
<!-- input/output also reusable component -->

<!-- api using service simple -->

<!-- simple reactive form with form array -->

<!-- directives -->

<!-- simple search filtering -->

<!-- observable, subject, behavior subject -->

<!-- ngDestroy -->

<!-- simple lazy routing -->

<!-- rout guard -->

<!-- revers string -->

<!-- find duplicate -->

<!-- odd/even -->

<!-- Practice on forms like logging errors fetch value everything possible on forms

Practice on Services and crud operations 

Practice on javascript fundamentals 

Practice in Input output and content projection 

Practice on directives -->
